<div class="container p-4">
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <div class="card-body">
               <form action="/links/add" method="POST">
                  <div class="form-group">
                     {{!-- la propiedad auto focus nos oernute colocar elk cursor en ek luagr indicado apenas carguemos la pagina --}}
                     <input type="text" class="form-control" name="title" placeholder="title" autofocus>
                  </div>
                  <div class="form-group">
                     <input type="url" name="url" class="form-control" placeholder="URL">
                  </div>
                  <div class="form-group">
                     <textarea name="description" class="form-control" cols="30" rows="2" placeholder="Description"></textarea>
                  </div>
                  <div class="form-group">
                     <button class="btn btn-success btn-block">
                        Save
                     </button>
                  </div>
               </form>
            </div>
      </div>
   </div>
</div>